<html>
  <head>
    <title>Todo App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/app.css') }}">
  </head>
  <body>
    <div id="error" class="hidden">Something went wrong!</div>
    <form id="form" method="post" action="/todos/checkbox.onchange	create">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <ul id="todos">
      {% for d in data %}
      <li>
        <input class="check-completed" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} checked {% endif %} />{{ d.description }}
        <button type="button" class="delete-button" data-id="{{ d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    
    <script src="{{ url_for('static', filename='app.js')}}"></script>
  </body>
</html>